* {
    margin: 0;
    padding: 0;
}

.navbar {
    border-bottom: 1px solid black;
    display: flex;
    height: 62px;
}

.nav_logo {
    list-style: none;

}
.nav_logo > a > img {
    width: 90px;
    height: 50px;
    margin-left: 14px;
    margin-top: 3px;

}
.nav_items {
    list-style: none;
    /* border: 2px solid green; */
    padding-top: 17px;
    margin-left: 3%;
}

.nav_items:hover {
    color: rgb(48, 209, 48);
    cursor: pointer;
}

.nav_input {
    border: 2px solid rgb(207, 234, 221);
    width: 267px;
    height: 25px;
    border-radius: 30px;
    margin-top: 10px;
    position: relative;
}

.nav_input:hover {
    background-color: #e4ebe4;
} 

.nav_input > input {
    border: none;
    border-radius: 30px;
    position: absolute;
    bottom: 3px;
    left: 3px;
    height: 38px;
}

.nav_input > input:hover {
    background-color: #f7faf7;
}

.nav_input > button {
    position: absolute;
    left: 65%;
    bottom: 2px;
    height: 37px;
    width: 90px;
    border-radius: 20px;
    background-color: white;
    font-weight: bold;
    border: none;
}

.nav_input > button:hover {
    background-color: #f7faf7;
}

.nav-login_btn {
    font-weight:bold ;
    border: none;
    width: 70px;
    height: 35px;
    margin-left: -15px;
    background-color: white;
}

.nav_sign_up_btn {
    font-weight:bold ;
    border: none;
    width: 80px;
    height: 35px;
    margin-left: -15px;
    background-color: green;
    border-radius: 30px;
    color: white;
}